.color-purple {
	background-color: #312783;
}

.color-blue {
	background-color: #00b4e3;
}

.color-blue>a:hover, .color-blue>a:visited, .color-blue>ul>li, .color-blue>ul>li>a:hover {
	background-color: #008aaa !important;
}

.color-red {
	background-color: #e30613;
}

.color-red>a:hover, .color-red>a:visited, .color-red>ul>li, .color-red>ul>li>a:hover {
	background-color: #b20011 !important;
}

.color-green {
	background-color: #c2d840;
}

.color-green>a:hover, .color-green>a:visited, .color-green>ul>li, .color-green>ul>li>a:hover {
	background-color: #8cb723 !important;
}

.color-orange {
	background-color: #f87d13;
}

.color-orange>a:hover, .color-orange>a:visited, .color-orange>ul>li, .color-orange>ul>li>a:hover {
	background-color: #f74f14 !important;
}

.color-yellow {
	background-color: #f9d500;
}

.color-yellow>a:hover, .color-yellow>a:visited {
	background-color: #ccad00 !important;
}

.font-white>div>div>div>div>i, .font-white>div>div>ul>li>a{
	color: white !important;
}

.nav-main>li>ul>li>a {
	font-size: 15px;
}

.nav-main>li>ul {
	padding: 0;
	border: 0;
}

.nav-main>li {
	padding: 0;
}

.nav-main>li>ul>li>a:hover {
	color: white;
	text-decoration: underline;
}

.img-brand {
	max-width: 150px;
	margin: 0 auto;
}

.height-auto {
	height: auto !important;
}

.width-100 {
	width: 100% !important;
}

.navbar-menu {
	margin-top: 56px;
	background-color: #00b4e3;
	border-color: #006680;
}

.navbar-menu>span {
	background-color: #006680;
}

.no-float {
	float: none;
}

.social>div>i {
	padding: 10px 13px;
	border-radius: 8px;
	margin: 10px;
	font-size: 20px;
}

.facebook {
	background-color: #397dc6;
}

.twitter {
	background-color: #0bbbef;
}

.instagram {
	background-color: #af1c8d;
}

.youtube {
	background-color: #e30613;
}

.nav-main>li>a {
	padding-top: 30px;
	font-family: FredokaOne;
	font-size: 20px;
}

.nav-main>li>a {
	height: 87px;
}

.nav-main>li>ul>li>a {
	font-family: FredokaOne;
	color: white;
}

.padding-0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.no-border {
	border: 0;
	border-radius: 0;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: white;
}

.navbar {
	margin-bottom: 0;
}

.container-full {
	width: 100%;
	padding: 0;
}

.container-full>div {
	margin-right: 0;
	margin-left: 0;
}

.container-full>div>div {
	padding: 0;
}

.promo1 {
	background-image: url(../img/promo1.png);
	background-size: 100%;
	background-position:50% 0%;
}

.promo2 {
	background-image: url(../img/promo2.png);
	background-size: 100%;
	background-position:50% 0%;
}

.promo3 {
	background-image: url(../img/promo3.png);
	background-size: 100%;
	background-position: 50% 0%;
}

.promo4 {
	background-image: url(../img/promo4.png);
	background-size: 100%;
	background-position:50% 0%;
}

.promo>div {
	padding: 10px !important;
}

.promo>div>div {
	padding-top: 360px;
	height: 500px;
	background-repeat: no-repeat;
}

.promo>div>div>div {
	width: 100%;
	height: 140px;
	font-family: FredokaOne;
	font-size: 1.4em;
	color: white;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.promo>div>div>div>a {
	text-decoration: none;
	border-radius: 15px;
	padding: 5px;
}

.promo>div>div>div>a:hover {
	color: white;
}

.color-blue>a {
	color: #007d9e;
}

.color-red>a {
	color: #9e040d;
}

.color-green>a {
	color: #008d36;
}

.color-orange>a {
	color: #ad570d;
}

.creative-club>p>span {
	color: #008d36;
}

.blog>p>span {
	font-family: QL !important;
	font-size: 1em;
	color: #ad570d;
}

.blog>p.text-right {
	float: right;
}

.creative {
	background-color: #e91e63;
	color: white;
	font-family: FredokaOne;
	padding-bottom: 20px;
}

.creative>div>h3 {
	font-size: 30px;
}

.creative p {
	font-size: 25px;
}

.creative>div {
	padding: 10px 0 !important;
}

.footer {
	color: white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.footer a{
	color: #312783;
	background-color: #f9d500;
	text-decoration: none;
	padding: 10px;
	font-size: 35px;
}

.footer h4 {
	font-size: 25px;
	margin-top: 30px;
}

.footer a, h4 {
	font-family: FredokaOne;
}

.footer p {
	font-family: QM;
	font-size: 20px;
	margin-bottom: 0;
}

.footer-social {
	margin-top: 150px;
	font-family: QM;
	font-size: 15px !important;
}

.footer img {
	margin: 0 auto;
}

.p-margin {
	margin-top: 50px;
}

.social-footer>div>i {
	padding: 6px 8px;
	border-radius: 8px;
	margin: 10px 0;
	font-size: 16px;
}

.social-footer>div {
	background-color: white;
}

.social-footer {
	padding-right: 16px;
}

.slogan {
	padding-left: 16px !important;
}

.manualidad {
	margin-top: 6vh;
}

.row-just {
	margin-right: 0;
	margin-left: 0;
}

@font-face {
	font-family: FredokaOne;
	src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
	font-family: QL;
	src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
	font-family: QM;
	src: url(../fonts/Quicksand-Medium.ttf);
}